# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binary files (these are usually application-specific)
*.exe

# Output directories
_bin/
_pkg/
_test/
